<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sample Thymeleaf template</title>
</head>
<body>

<table border="1">
    <tr>
        <td>String</td>
        <td>Int</td>
        <td>Float</td>
    </tr>
    <th:block th:each="d : ${data}">
        <tr>
            <td th:text="${d.a}">String</td>
            <td th:text="${d.b}">Int</td>
            <td th:text="${d.c}">Float</td>
        </tr>
    </th:block>
</table>

</body>
</html>